@import "src/app/styles/main";
.chat-form {
  margin: 25px 0 0;
  height: 50px;
  display: flex;
  justify-content: space-between;

  .chat-form__input {
    width: 100%;
    box-shadow: $inner-shadow;
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 6px;
    margin: 0 15px 0 0;
    height: 100%;
    background-color: transparent;
    font-size: 17px;
    font-family: inherit;
    color: $primary2;
    outline: transparent;
  }
  .chat-form__submit-btn {
    width: 140px;
    min-width: 140px;
    height: 100%;
    background-color: $color1;
    color: $white;
    box-shadow: $shadow-accent2;
    &:hover { color: $greyLight-1; }
    &:active {
      box-shadow: $inner-shadow-accent;
    }
  }
}
