<section class="login-page">
  <h1 class="login-page__header">Welcome in <br> my realtime chat.</h1>
  <p class="form__text" *ngIf="!toggleViewFlag">To enter the application please log in:</p>
  <p class="form__text" *ngIf="toggleViewFlag">Register your account:</p>

  <form class="form" #logForm="ngForm" novalidate>
    <div class="form__wrapper">
      <label for="emailData" class="form__label">Email</label>
      <div class="form__input-wrapper" [class.showError]="logForm.submitted && emailData.invalid">
        <input #emailData=ngModel
               type="text"
               id="emailData"
               name="emailData"
               class="form__input"
               [(ngModel)]="email"
               placeholder="Your email"
               required
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <div class="form__error" [class.showError]="logForm.submitted && emailData.invalid">Email is required with standard format: <br>example@lorem.com</div>
      </div>

      <label for="passwordData" class="form__label">Password</label>
      <div class="form__input-wrapper" [class.showError]="logForm.submitted && passwordData.invalid">
        <input #passwordData=ngModel
               type="text"
               id="passwordData"
               name="passwordData"
               class="form__input"
               [(ngModel)]="password"
               placeholder="Password"
               required
               minlength="5">
        <div class="form__error" [class.showError]="logForm.submitted && passwordData.invalid">Password must contain min. 6 characters.</div>
      </div>
      <div class="form__name-container" [class.showName]="toggleViewFlag">
        <label for="userNameData" class="form__label">User name</label>
        <div class="form__input-wrapper" [class.showError]="logForm.submitted && userNameData.invalid">
          <input #userNameData=ngModel
                 type="text"
                 id="userNameData"
                 name="userNameData"
                 class="form__input form__input--userName"
                 [class.showName]="toggleViewFlag"
                 [(ngModel)]="userName"
                 placeholder="Your display name"
                 [required]="toggleViewFlag"
                 minlength="4">
          <div class="form__error" [class.showError]="logForm.submitted && userNameData.invalid">Name must contain min. 5 characters.</div>
        </div>
      </div>
    </div>

    <button type="submit" class="form__button" (click)="signUp(); logForm.ngSubmit.emit()" *ngIf="toggleViewFlag">REGISTER</button>
    <button type="submit" class="form__button" (click)="signIn(); logForm.ngSubmit.emit()" *ngIf="!toggleViewFlag">LOG IN</button>
  </form>
  <p class="form__text" *ngIf="!toggleViewFlag">If you do not have an account,<br> please <span class="form__btn-switch" (click)="toggleView()">register.</span></p>
  <p class="form__text" *ngIf="toggleViewFlag">If you already have account<br> please <span class="form__btn-switch" (click)="toggleView()">log in.</span></p>
</section>

