body {
  font-family: 'Poppins', sans-serif;
  //background-image: linear-gradient(-45deg, #dce6f0 0%, #dfe9f3 40%, white 100%);
  background-image: linear-gradient(-45deg, #d7e1eb 0%, #dbe5ef 40%, white 100%);
  color: rgb(78, 36, 153);
  box-sizing: border-box;
}
body * {
  box-sizing: border-box;
}
body button {
  font-family: 'Poppins', sans-serif;
}
